src/main/mule/implementations/upload-document-to-aws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


	<flow name="post:\document:application\json:aws-sapi-config">
		<set-variable
			value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]"
			doc:name="Set correlationId"
			doc:id="6b269cb3-b854-45ba-899a-7c851c56d5a0"
			variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="9505fbcd-9252-4c5b-b00c-a9a1645dd4f5" message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Started upload document to amazon S3 flow"' />
		<ee:transform doc:name="Transform Base64 and set inputPayload" doc:id="14d91892-6db3-46f4-b8ea-a60fff66aef1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload.document)]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="keyPath" ><![CDATA[payload.folderPath as String ++ "/" ++ payload.fileName as String]]></ee:set-variable>
				<ee:set-variable variableName="bucketName" ><![CDATA[payload.bucketName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="FlowRef To upload-s3-document" doc:id="7f303304-d68d-4f59-9603-906baae09e8e" name="upload-s3-document"/>
		<ee:transform doc:name="Set Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 200,
  message: "Success",
  description: "Document uploaded successfully",
  dateTime: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
  transactionId: vars.transactionId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="23d87bb8-c57b-4fd2-a25c-6297503e353d" message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed upload document to amazon S3 flow, payload: #[payload]"/>
    			<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="591456de-f733-4a1d-b0ea-0d62ea99c30b" type="ANY">
				<set-variable value="#[500]" doc:name="Set HTTP Status - 500" doc:id="98c2ad7b-9348-4cb0-9a94-c9fd2d84ee32" variableName="httpStatus" />
				<set-variable value="Internal server error" doc:name="Set errorMessage" doc:id="79300b6d-5462-449a-9a92-efdc0d96785e" variableName="errorMessage" />
				<set-variable value="#[error.description]" doc:name="Set errorDescription" doc:id="0c634457-61ea-4696-a11f-67b6616b907f" variableName="errorDescription" />
				<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="0a264171-de21-44b2-817a-66d25aeaa4c9" name="global-prepare-error-response-sub-flow" />
			</on-error-continue>
		</error-handler>
</flow>	
</mule>
